@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}


html {
    background-color: #000;
    color: #fff;
}
.container {
    margin: 0 12px;
    margin-top: 19px;
}
.uppercase {
    text-transform: uppercase;
}

/* header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 38px;
}
.menu {
    position: relative;
    margin-left: auto;
    background-color: transparent;
    border: none;
    overflow: hidden;
    text-indent: 100px;
    white-space: nowrap;
    width: 40px;
    height: 40px;
}
.menu::before {
    content: '\e5d2';
    position: absolute;
    color: #fff;
    z-index: 10;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    background: url(./menu_white_24dp.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}
.banner h2 {
    font-family: 'Crimson Pro', serif;
    font-weight: 200;
    font-size: 14px;
    line-height: var(--line-height, 16px);
    border: 1px solid #fff;
    width: 103px;
    text-align: center;
    padding: 8px 0 7px 0;
}

/* nav */
.nav {
    /* display: none; */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #181719;
    width: 100%;
    z-index: 100;
    padding-top: 19px;
}
.nav-container {
    margin: 0 12px;
    display: flex;
    justify-content: center;

    height: 100%;
}
.nav-items a {
    font-size: 18px;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    line-height: var(--line-height, 22px);
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    display: block;
}
.nav-ul {
    list-style: none;
    margin-top: 258px;
}
.nav-ul li {
    padding: .7rem 0;
    margin: 0;
}
.nav-ul > li + li {
    margin-top: 32px;
    text-align: center;
}
.close {
    position: absolute;
    margin-left: auto;
    background-color: transparent;
    border: none;
    overflow: hidden;
    text-indent: 100px;
    white-space: nowrap;
    width: 40px;
    height: 40px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close::before {
    content: ' ';
    position: absolute;
    color: #fff;
    z-index: 10;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    background: url(./close_white_24dp.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: contain;
}

.selected {
    font-weight: 700;
    position: relative;
    display: inline-block;
}
.selected::after {
    content: " ";
    width: 100%;
    border: 2px solid #fff;
    background-color: #fff;
    border-top: 2px solid #fff;
    position: absolute;
    bottom: -8px;
    left: 0;

    box-sizing: border-box;
}


/* main */
.main-section-text-content h1 {
    font-family: 'Lora', serif;
    font-weight: 500;
    line-height: var(--line-height, 46px);
    font-style: normal;
    margin-bottom: 25px;
}
.main-section-text-content p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: var(--line-height, 17px);
    width: 269px;
    margin-bottom: 25px;
}
p.read-more {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.icon {
    margin-left: 1rem;
    width: 25px;
    height: 25px;
}

.main-section-design-content {
    position: relative;
}

.main-card {
    width: 300px;
    background-color: #181719;
    padding: 1rem;
    position: absolute;
    top: 79%;
    /* left: 52%; */
    right: 5%;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: (--line-height, 23px);
}

.main-card-id {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', serif;
    margin-bottom: 22px;
    font-weight: 500;
}
.main-card-id-image {
    border-radius: 100%;
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.capitalize {
    text-transform: capitalize;
}
.small {
    font-size: 10px;
    line-height: var(--line-height, 12.19px);
}


/* footer */
.footer {
    margin-top: 144px;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 14px;
    line-height: var(--line-height, 17px);
    text-align: center;
    color: #a9a9a9;
}
.footer a {
    color: inherit;
}